.footer {
  margin: 0 auto;
}

.footer__copyright {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 60px 0;
  color: #212121;
  opacity: 70%;
  line-height: 100%;
}
